/* Header.css */
.app-header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
/* TableBody.css */
.table-container {
    margin: 20px;
  }
  
  .data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .data-table th, .data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .data-table th {
    background-color: #3498db;
    color: #fff;
  }
    